<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net40" />
  <package id="es6-promises.TypeScript.DefinitelyTyped" version="0.2.3" targetFramework="net40" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="1.2.8" targetFramework="net45" />
  <package id="jQuery" version="1.8.0" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.1.9" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.23" targetFramework="net40" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="0.3.6" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights" version="0.13.2-build00132" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.PerformanceCollector" version="0.13.2-build00132" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.13.2-build00132" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights.Web" version="0.13.2-build00132" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Instrumentation.Extensions.Intercept" version="0.13.0-build22724" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.14-beta" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Nancy" version="1.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="sinon.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net45" />
  <package id="SinonJS" version="1.9.1" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net45" />
  <package id="Takenet.Microsoft.ApplicationInsights.Telemetry.Services" version="0.7.0.1" targetFramework="net45" />
</packages>