@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html>
    <head>
        <title>Aurelia AppInsights</title>
        <!-- order is important here - maintain this order! -->
        <link rel="stylesheet" type="text/css" href="jspm_packages/github/twbs/bootstrap@3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="jspm_packages/npm/font-awesome@4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="Content/styles/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="Content/styles/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="Content/styles/styles.css">

        <!-- app insights import -->
        <script>
            var appInsights = window.appInsights || function (config) {
                function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
            }({
                instrumentationKey: "@(Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration.Active.InstrumentationKey)"
            });

            window.appInsights = appInsights;
        </script>
    </head>

    <body aurelia-main>
        <div class="splash">
            <div class="message">Welcome to Aurelia AppInsights Demo</div>
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <script src="Content/scripts/core-js/client/core.js"></script>
        <script src="Content/scripts/requirejs/require.js"></script>
        <script>
            @if (ViewBag.IsDebug) {
                @Html.Raw("appInsights.config.debug = true;");
            }

            var baseUrl = window.location.origin
            console.debug("baseUrl: " + baseUrl);
            require.config({
                baseUrl: baseUrl + "/dist",
                paths: {
                    aurelia: baseUrl + "/Content/scripts/aurelia",
                    webcomponentsjs: baseUrl + "/Content/scripts/webcomponentsjs",
                    dist: baseUrl + "/dist",
                    views: baseUrl + "/dist/views",
                    resources: baseUrl + "/dist/resources",
                }
            });

            require(['aurelia/aurelia-bundle-latest']);
        </script>
    </body>

</html>
